.sidebar a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 20px 0px 20px 10px;
    align-content: left;
    margin-bottom: 10%;    
} 
.sidebar a.active {
  color: #F06A3E;
  background-color: #0A1656;
}
.sidebar a:hover{
  background-color: #0A1656;
  color: #F06A3E;
}
.sidebaricon{
    margin-right: 10%;
    color: #BCC5CC;
}
#sidenav_title{
    color: white;
    font-family:norwester;
    font-size:32px;
    padding:25%;   
}
.navlink{
  font-family: lato-Medium;
  font-size: 14px;
}
.navlink i{
  font-family: lato-Medium;
  font-size: 20px;
}
@media only screen and (min-width:1400px){
  #sidenav_title{
     font-size:32px;   
 }
 .navlink{
   font-size: 18px;
 }
 .navlink i{
   font-size: 23px;
 }
}
