.cabin-booking-block {
  position: relative;
}
#page-title {
  font-family: "lato-heavy";
  font-size: 16px;
  color: #0a1656;
  padding-top: 15px;
  margin-top: 1rem;
}
.inputBox {
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 12rem;
  border: 1px solid #dededf;
  border-radius: 4px;
  text-align: left;
  height: 30px;
}
.find-button {
  border-radius: 1.5rem !important;
  border: none !important;
  box-shadow: 0px 0px 3px 0px rgba(143, 209, 199, 0.757) !important;
  height: 40px;
  font-size: initial;
  font-family: "lato-Medium";
  background-color: #f06a3e !important;
  color: white;
}
.msl-option-active {
  color: #f06a3e !important;
  background-color: white !important;
  background-image: url("../../assest/images/member_selected.png") !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important ;
}
.msl-option {
  background-image: url("../../assest/images/employee.png");
  color: #9c9c9c;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important ;
  border-bottom: 2px solid whitesmoke;
  border-width: 150%;
  box-shadow: none !important;
}
.msl-chip {
  display: none !important;
}
.msl-active ~ .msl-options {
  max-height: 300px !important;
}
.custom-input {
  width: 400%;
}
.floor-label {
  padding-left: 40%;
}
.tooltip > div.tooltip-inner {
  background-color: #2f3c7f !important;
}
.custom-input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  //border-radius: .2rem;
  border: 1px solid #ced4da;
}
.custom-input:focus {
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px 2px #8fb9dd;
}
.custom-output {
  max-width: 500px;
  margin: 20rem auto;
}
.accordion {
  max-width: 600px;
  margin: 2rem auto;
}
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffffff;
}
.accordion-title:hover {
  background-color: #ffffff;
}
.accordion-title,
.accordion-content {
  padding: 1rem;
}
.accordion-content {
  background-color: #a1d9f5;
}
