.logo {
   width: 10%;
   margin-left: 2%;
   cursor: pointer;
}

.logout-button {
   font-size: 20px !important;
   font-family: lato-regular;
   padding-right: 2rem;
   border: none;
   background: none;
   font-weight: 100;
}

.logout-button:hover {
   color: red;
}

#icon {
   margin-right: 2px;
   margin-bottom: 2px;
}

#icon_text {
   padding-left: 10px;
}

.header-newbooking-btn {
   display: flex;
   justify-content: flex-end;
}

.booking-icon {
   width: 154px;
   height: 40px;
   background: #f06a3e;
   border-radius: 50px;
   opacity: 1;
   float: right;
   font-family: "lato-Medium";
   letter-spacing: 0px;
   color: #ffffff;
   border-color: transparent;
   box-shadow: none;
   outline: none;
}

.booking-icon:hover {
   background-color: #f06a3e;
   color: white;
   border-color: transparent;
}

.booking-icon:focus {
   background-color: #f06a3e;
}

.dropdown-button button {
   background-color: #f06a3e !important;
   border-color: #f06a3e !important;
}

.dropdown-button .dropdown-item.active,
.dropdown-button .dropdown-item:active {
   background-color: #f06a3e;
}