.logo{
    width: 10%;
}

.logout-button{ 
   font-size:14px;
   font-family:lato-regular;
   padding-right:  2rem;
   border: none;
   background: none;
   font-weight: 100;
  
}
.logout-button:hover{
   color: red;
}
#icon{
    margin-right: 2px;
    margin-bottom: 2px;   
 }
