.home {
    text-align: left;
    width: auto;
    font-family: "lato-Medium";
    margin-top: 4% !important;
}

.hr {
    border: solid 1px;
    box-shadow: 15px 10px 8px #888888;
    width: auto;
}

.cardtext {
    color: #92979a;
    font-size: 16px;
    padding: 5px;
    font-weight: bold
}

.card-headings {
    font-size: 15px;
    font-family: "lato-bold";
    color: #262F36;
}

.card-headers {
    text-align: left;
    color: #262F36;
    font-size: 15px;
    font-family: "lato-bold";
    padding-left: 40px;
}

.icon-headings {
    top: 258px;
    left: 596px;
    width: 40px;
    height: 45px;
    color: #000000;
    opacity: 1;
}

.icon-dots {
    float: right;
    width: 35px;
    height: 25px;
}

.booking-icon {
    width: 154px;
    height: 40px;
    background: #F06A3E;
    border-radius: 50px;
    opacity: 1;
    float: right;
    font-family: "lato-Medium";
    letter-spacing: 0px;
    color: #FFFFFF;
    border-color: #F06A3E;
    box-shadow: none;
    outline: none;
}

.booking-icon:hover {
    background-color: #f06a3e;
    color: white;
    border-color: #f06a3e;
}

.booking-icon:focus {
    background-color: #f06a3e;
}

.headings {
    margin-left: 3%;
    color: #0A1656;
    font-size: 18px;
    font-family: "lato-heavy";
}

#welcomeName-row {
    margin-left: 4%;
    // font-weight: normal;
    font-family: "lato-Medium";
    color: #262F36;
}

#text-name {
    color: #F06A3E !important;
    font-weight: bold;
}

.text-initial {
    margin-left: 8%;
    margin-top: 10%;
}

.ub-border-left {
    border-left: 5px solid #4fba46 !important
}

.rb-border-left {
    border-left: 5px solid #F06A3E !important;
}

.rrb-border-left {
    border-left: 5px solid #DB2828 !important;
}

.text-initial:hover {
    cursor: pointer;
}

.custom-recentbooking-section {
    height: auto;
}

.card-list-item {
    li {
        list-style-type: none;
    }
}

.not-found-span {
    padding-left: 50px;
    color: red !important;
}

.time-header {
    text-align: left;
    color: #262F36;
    font-size: 15px;
    font-family: "lato-bold";
    padding-left: 40px;
}

.participant-model-title {
    background-color: #4557b3;
    color: #fdf8f6;
}

.participant-model-header {
    background-color: #F06A3E;
    color: #fdf8f6;
}

.model-close-button {
    text-align: center;
}

.booking-participant-modal {
    font-family: "lato-bold";
}

.booking-participant-body {
    background: url("../../assest/images/Indium-software-Logo.png");
    background-color:#F5F7FF;
    background-blend-mode:color-burn;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y:bottom;
    width: 100%;
}

.booking-participant-table {
    background-color: transparent;
    // overflow-y: scroll;
}

.footer-block {
    margin: 0px;
    padding: 10px;
    background-color:#F5F7FF;
}

.booked-by-col {
    font-family: 'loto-heavy';
    color: #0A1656;
}

.booked-by-row {
    padding: 15px;
}