.home {
  text-align: left;
  width: auto;
  font-family: "lato-Medium";
  margin-top: 4% !important;
  padding-left: 2%;
  .home-newbooking-btn {
    justify-content: end;
  }
  .hr {
    border: solid 1px #888888;
    width: auto;
  }
  .cardtext {
    color: #92979a;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
  }
  .card-headings {
    font-size: 15px;
    font-family: "lato-bold";
    color: #262f36;
  }
  .card-headers {
    text-align: left;
    color: #262f36;
    font-size: 15px;
    font-family: "lato-bold";
    padding-left: 40px;
  }
  .home-conferenceroom-icon {
    background-image: url("../../assest/images/Conf_grey\ icon.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
  }
  .icon-dots {
    float: right;
    width: 35px;
    height: 25px;
  }
  .headings {
    color: #0a1656;
    font-size: 18px;
    font-family: "lato-heavy";
  }
  #welcomeName-row {
    font-family: "lato-Medium";
    color: #262f36;
  }
  #text-name {
    color: #f06a3e !important;
    font-weight: bold;
  }
  .text-initial {
    margin-top: 10%;
  }
  .ub-border-left {
    border-left: 5px solid #4fba46 !important;
  }
  .rb-border-left {
    border-left: 5px solid #f06a3e !important;
  }
  .rrb-border-left {
    border-left: 5px solid #db2828 !important;
  }
  .text-initial:hover {
    cursor: pointer;
  }
  .custom-recentbooking-section {
    height: auto;
  }
  .card-list-item {
    li {
      list-style-type: none;
    }
  }
  .not-found-span {
    color: red !important;
  }
  .time-header {
    text-align: left;
    color: #262f36;
    font-size: 15px;
    font-family: "lato-bold";
    padding-left: 40px;
  }
}

.booking-participant-modal {
  font-family: "lato-bold";
  .participant-model-title {
    background-color: #4557b3;
    color: #fdf8f6;
  }
  .participant-model-header {
    background-color: #f06a3e;
    color: #fdf8f6;
  }
  .model-close-button {
    text-align: center;
  }
  .booking-participant-body {
    background: url("../../assest/images/Indium-software-Logo.png");
    background-color: #f5f7ff;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    width: 100%;
  }
  .booking-participant-table {
    background-color: transparent;
  }
  .footer-block {
    margin: 0px;
    padding: 10px;
    background-color: #f5f7ff;
  }
  .booked-by-col {
    font-family: "lato-heavy";
    color: #0a1656;
  }
  .booked-by-row {
    padding: 15px;
  }
  .modal-close-btn {
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 25px;
    color: white;
  }
  .close-btn {
    border-radius: 50px;
    width: 20%;
  }
  .close-btn:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .close-btn:focus {
    background-color: #dc3545;
  }
}

@media only screen and (max-width: 575px) {
  .booking-icon {
    margin-top: 1rem;
    float: left !important;
  }
}
