.multiDatePicker,
.multiDatePicker input {
    width: inherit !important;
}

.multiDatePicker .rmdp-input {
    height: 35px !important;
    padding: 5px 5px !important;
}

.cabin-footer-container {
    margin-top: 4% !important;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}
.cabin-footer-container .find-button{
    margin-right: 10px;
}
.cabin-footer-container .see-details-text{
    color: blue;
}
